*{
    box-sizing: border-box;
}
body{
    background-color: black;
    color: red;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}

.links{
    color: grey;
    text-decoration: none;
    font-size: 30px;
}
.container_header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 0% 10px;
}
header{
    text-align: center;
}
.container_busqueda{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 95%;
    height: 100%;
    margin: 0% 2%;
    justify-content: space-between;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    height: 100%;
}
.video
{
    display: flex;
    justify-content: center;
    margin-left: 350px;
    
}

.resumen
{
    text-align: justify;
    text-align: right;
}

.agus {
    text-align: center;
    color: rgb(255, 225, 0);
    font-size: 20px;
    margin: 0px 0px 60px 0px;
}
.pep {
    height: 60px;
    margin: 15px;
    border-style: hidden;
}
.rey{
    text-align: center;
    color: red;
    margin: 50px 0px 100px 0px
}
.felix{
    text-align: center;
}
.pip{
    height: 60px;
    margin: 15px;
    border-style: hidden;  
}
.jhon{
    text-align: center;
    color: rgb(255, 225, 0);
    font-size: 20px;
}
.zony{
    text-align: center;
    margin: 0px 0px 100px 0px;
}
.termo{
    background-color: black;
    color: red;
}
.si{
    text-align: center;
}
.peliculaspopulaares{
    height: 300px;
    width: 100px;
    border-style: ridge; 
    border-color: red; 
}
.bodyhome{
    background-color: black;
    color: red;
}
.imagen{
    border-style: ridge;
    border-color: red;
    height: 350px;
    width: 15vw;
}
.fav{
    text-decoration: none;
}
.serie{
    text-align: center;
}
.logo{
    height: 10vw;
    width: 10vw;
}

.titulo {
    text-align: center;
    color: red;
    
}

.secciones
{
    display: flex;
    justify-content: flex-end;

}

.letras
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
}
.info{
    justify-content: flex-start;
}
.rating{
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0px 0px 100px 0px;
}
.division{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px 0px 100px 0px;
}
.p{
    width: 55%;
}
.gen{
    text-align: right;
}
.test{
    flex-direction: column;
}
.modify{
    width: 600px;
    height: 900px;
}
@media(max-width:768px){
    .container{
        flex-direction: column;
    }
    .imagen{
        width: 70%;
    }
    .container_header{
        flex-direction: column;
    }
    .links{
        font-size: 15px;
        padding: 30px;
    }
    .logo{
        width: 25vw;
        height: 25vw;
    }
    .container_busqueda{
        flex-direction: column;
    }
    .rating{
        margin: 0px 0px 60px 0px;
    }
    iframe{
        width: 30vw;
    }
    .pep{
        width: 12vw;
    }
    .modify{
        width: 50vw;
        height: 120vw;
    }
    .agus{
        margin: 0px 0px 40px 0px;
    }
}