*{
    box-sizing: border-box;
}
body{
    background-color: black;
    color: red;
    background-size: cover;
    background-repeat: no-repeat;
}

.links{
    color: grey;
    text-decoration: none;
    font-size: 30px;
}
.container_header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 0% 10px;
}
header{
    text-align: center;
}
.container_busqueda{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 95%;
    height: 100%;
    margin: 0% 2%;
    justify-content: space-between;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    height: 100%;
}
.filip {
    text-align: right;
    background-size: 650px 1000px;
    font-weight: 800;
    color: red;
    background-color: black;
}
.video
{
    display: flex;
    justify-content: center;
    margin-left: 350px;
    
}

.resumen
{
    text-align: justify;
    text-align: right;
}

.agus {
    text-align: center;
    color: rgb(255, 225, 0);
    font-size: 20px;
        
}
.pep {
    height: 60px;
    margin: 15px;
    border-style: hidden;
}
.rey{
    text-align: center;
    color: red;
}
.felipe{
    background-size: 650px 1000px;
    font-weight: 800;
    color: red;
    background-color: black;
    text-align: right;
}
.felix{
    text-align: center;
}
.pip{
    height: 60px;
    margin: 15px;
    border-style: hidden;  
}
.jhon{
    text-align: center;
    color: rgb(255, 225, 0);
    font-size: 20px;
}
.zony{
    text-align: center;
}
.termo{
    background-color: black;
    color: red;
}
.si{
    text-align: center;
}
.peliculaspopulaares{
    height: 300px;
    width: 100px;
    border-style: ridge; 
    border-color: red; 
}
.bodyhome{
    background-color: black;
    color: red;
}
.imagen{
    border-style: ridge;
    border-color: red;
    height: 350px;
    width: 15vw;
}
.fav{
    text-decoration: none;
}
.serie{
    text-align: center;
}
.logo{
    height: 10vw;
    width: 10vw;
}

.titulo {
    text-align: center;
    color: red;
    
}

.secciones
{
    display: flex;
    justify-content: flex-end;

}

.letras
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
}
.container_peliculas 
{
  
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    padding: 0px;
    width: 95%;
    margin: 10px;
}
.container_series 
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px;
    width: 95%;
    margin: 10px;
    
}
.imagenes 
{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    height: 350px;
    width: 95%;   
}
.info{
    justify-content: flex-start;
}
@media(max-width:768px){
    .container{
        flex-direction: column;
    }
    .imagen{
        width: 100%;
    }
    .container_header{
        flex-direction: column;
    }
    .links{
        font-size: 15px;
        padding: 30px;
    }
    .logo{
        width: 25vw;
        height: 25vw;
    }
}
.rating{
    height: 350px;
    width: 1400px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
}
.trailer{
    height: 250px;
    width: 500px  
}
.test{
    flex-direction: column;
}
.large{
    width: 600px;
    height: 900px;
    background-color: aqua;
}
.modify{
    width: 600px;
    height: 900px;
}