body
{
    background-color: black
}

.logo
{
display: flex;
height: 150px;
width: 800px;

}

.titulo
{
    text-align: center;
    color: aliceblue;
    
}

.secciones
{
    display: flex;
    justify-content: flex-end;

}

.letras
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}

.container_peliculas 
{
  
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    padding: 0px;
    width: 1500px;
}

.container_series 
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px;
    width: 1670px;
    
}

.imagenes 
{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    height: 350px;
    width: 1500px;
    
}